@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300&display=swap');

h1 {
text-align: center;
font-family: 'Rowdies', cursive;
}

img {
    width: 100%;
    height: 100%;
}

i {
    font-size: 200px;
    color: black;
}